* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: darkblue;
}
.container {
    display: grid;
    grid-template-columns: 10rem auto 10rem;
    grid-template-rows: 5rem auto 5rem;
    width: 90%;
    max-width: 1100px;
    margin: 100px auto;
}
.header {
    background-color: lightyellow;
    grid-column: 1 / 4;
    line-height: 80px;
    text-align: center;
}
.main {
    background-color: white;
    padding: 15px;
    grid-column: 2 / 3;
}
/* parrafos de main */
.main > p {
    line-height: 1.3;
    padding: 15px;
}
.sidebar {
    background-color: lightblue;
    padding: 15px;
    grid-column: 3 / 4;
}
.navigation {
    background-color: lightcoral;
    padding: 15px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.footer {
    background-color: lightgrey;
    grid-column: 1 / 4;
    line-height: 80px;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .container {
        grid-auto-rows: fit-content;
    }
    .header {
        grid-column: 1 / 4;
    }
    .main {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    .sidebar {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
    .navigation {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
    .footer {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }
}