* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root {
    --color1: #a6ffcb;
    --color2: #1fa3ff;
}
h1, p {
    color: white;
    text-align: center;
    font-weight: bold;
}
body {
    background-image: linear-gradient(to right, var(--color1), var(--color2));
}
.centrar {
    padding: 20px 0 0 20px
}
.container {
    width: 90%;
    max-width: 1000px;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-areas: 
        "header header header header"
        "sidebar1 nav nav nav"
        "sidebar1 main main sidebar2"
        "sidebar1 main main sidebar2"
        "footer footer footer sidebar2";
    gap: 20px;
    background-color: white;
}
.header {
    background-color: #6495ed;
    grid-area: header;
}
.sidebar1 {
    background-color: #5f9ea0;
    grid-area: sidebar1;
}
.sidebar2 {
    background-color: #00008b;
    grid-area: sidebar2;
}
.nav {
    background-color: #ff7f50;
    grid-area: nav;
}
.main {
    background-color: #dc143c;
    grid-area: main;
}
.footer {
    background-color: #8b008b;
    grid-area: footer;
}
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-areas: 
            "header"
            "nav"
            "sidebar1"
            "main"
            "sidebar2"
            "footer";
        gap: 0;
    }
    .centrar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}