@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
:root {
    --colorFondo: #26293a;
    --segundaCard: #5175ff;
}
.main {
    height: 100vh;
    width: 100%;
    display: flex;
}
.card {
    padding: 40px 50px;
    max-width: 350px;
    min-width: 250px;
    box-shadow: 0px 0px 6px var(--colorFondo);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 1.6em;
}
.card__h6 {
    font-weight: 800;
}
.card__button {
    background-color: var(--colorFondo);
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}
.card:nth-child(2) {
    background-color: var(--segundaCard);
    color: white;
}
.card:nth-child(2) .card__button {
    background-color: white;
    color: var(--colorFondo);
}
.carac__text {
    margin: 1em 0;
}
/* escritorio */
@media screen and (min-width: 993px) {
    .main {
        background-image: linear-gradient(180deg, white 50%, var(--colorFondo) 50%);
        justify-content: center;
        align-items: center;
        gap: 6em;
    }
    .card {
        font-size: 1.2em;
    }
}
/* tablet */
@media screen and (max-width: 992px) {
    .main {
        flex-wrap: wrap;
        flex-shrink: 0;
        justify-content: center;
        align-content: center;
        gap: 2em;
    }
    .card {
        font-size: 1.2em;
    }
}
/* movil */
@media screen and (max-width: 576px) {
    .main {
        height: fit-content;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2em;
    }
}