.container {
    
}
article {
    height: 300px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}

@media (min-width: 992px) {
    .red {
        width: 20%;
        float: left;
    }
    .blue {
        width: 50%;
        float: left;
    }
    .yellow {
        width: 30%;
        float: left;
    }
}
@media (min-width: 576px) and (max-width: 992px) {
    .red {
        width: 50%;
        float: left;
    }
    .blue {
        width: 50%;
        float: left;
    }
    .yellow {
        width: 100%;
        float: left;
    }
}