.container {
    margin: 50px auto;
    width: 90%;
}
header {
    background-color: yellow;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red {
    background-color: red;
    height: 150px;
}
.blue {
    background-color: blue;
    height: 150px;
    
}
.green {
    background-color: green;
    height: 150px;
}

@media (min-width: 576px) and (max-width: 992px) {
    header {
        background-color: orange;
    }
    h1 {
        color: green;
    }
    .red {
        float: left;
        width: 50%;
    }
    .blue {
        float: right;
        width: 50%;
    }
    .green {
        float: right;
        width: 100%;
    }
}

@media (min-width: 992px) {
    header {
        background-color: orange;
    }
    h1 {
        color: green;
    }
    .red {
        float: left;
        width: 33.333%;
    }
    .blue {
        float: right;
        width: 33.333%;
    }
    .green {
        float: right;
        width: 33.333%;
    }
}