* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.halloween {
    width: 700px;
    object-fit: cover;
    margin: 50px 30vw;
}

#Fantasma {
    animation-name: mover-fantasma;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    overflow: visible;
}

@keyframes mover-fantasma {
    25% {
        transform: translate(-10px, -10px);
    }
    50% {
        transform: translate(-40px, 20px);
    }
    75% {
        transform: translate(20px, -20px);
    }
    to {
        transform: translate(0px, 0px);
    }
}