* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-main {
    max-width: 1000px;
}
.header {
    height: 100px;
    background-color: #152c55;
    color: white;
}
.footer {
    height: 100px;
    background-color: #2d4571;
}
