main {
    background-image: url(img/html5.png), url(img/css3.png), url(img/js.png);
    background-position: left, center, right;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 25%;
    font-size: 1.5rem;

    margin: 2rem;
}
.title {
    font-weight: bold;
    text-align: center;
}
.manifesto {
    background-color: rgb(20, 20, 20, 0.7);
    color: rgb(200, 200, 200);
    margin: 2rem;
    padding: 4rem;
}