html {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    margin: 2rem;
    font-family: 'Mali';
}
.title {
    font-weight: bold;
    text-align: center;
}
.manifesto {
    background-color: rgb(20, 20, 20, 0.7);
    color: rgb(200, 200, 200);
    margin: 2rem;
    padding: 4rem;
}