* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.img {
    border-radius: 500px;
}
.card {
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: black 3px 3px 10px;
    padding: 4em;
    width: fit-content;
    margin: 3em auto;
}
p {
    font-weight: bold;
    margin: 1em auto;
    text-align: center;
    font-size: 1.4em;
}
a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(90deg ,#3995e8, #e870ae);
    margin: auto;
    display: block;
    width: fit-content;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 500;
    margin: 2em auto auto auto;
}