h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    line-height: 35px;
    text-indent: 30px;
    font-variant: small-caps;
}
body{
    background-color: #778899;
}
span{
    text-decoration: underline;
    font-style: italic;
}