@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
.contact {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.332), rgba(238, 130, 238, 0.316)) ,url(img/fondo-montaña.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__form {
    max-width: 800px;
    min-width: 488px;
    width: 90%;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.contact__legend {
    width: 100%;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.contact__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__label {
    width: 20%;
}
.contact__input {
    width: 80%;
    padding: 15px 1px;
}
.contact__textarea {
    width: 80%;
    max-width: 80%;
    padding: 15px 1px;
    min-height: 100px;
    max-height: 200px;
}
.contact__send {
    width: 100%;
    display: flex;
    justify-content: end;
}
.contact__btn {
    border: none;
    padding: 15px 25px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-image: linear-gradient(145deg, cornflowerblue, violet);
}
@media screen and (max-width: 768px) {
    .contact__btn {
        flex: 1;
    }
}