* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(205, 205, 205);
}
.container {
    outline: 2px solid yellow;
    margin: 50px;
    height: 600px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.item {
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 700;
    width: 100px;
    height: 100px;
    padding: 10px;
    line-height: 80px;
    text-align: center;
}
.item1 {
    background-color: chartreuse;
}
.item2 {
    background-color: firebrick;
}
.item3 {
    background-color: cornflowerblue;
}
.item4 {
    background-color: deeppink;
}

.header {
    background-color: brown;
}

nav {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border: 2px solid yellow;
    margin: auto;
}
.nav {
    background-color: chocolate;
    height: fit-content;
    padding: 15px;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
}