* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root {
    --verde: #294136;
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 1000px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 50px auto 50px;
}
.card__info-container {
    color: white;
    padding: 30px;
    background-color: var(--verde);
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    overflow: visible;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card__figure {
    width: 600px;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.figure__img {
    display: block;
    max-width: 100%;
}
.card__btt {
    padding: 15px 25px;
    color: var(--verde);
    background-color: white;
    text-decoration: none;
    width: fit-content;
}