@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Elms Sans';
}
.hero {
    height: 100vh;
    background-image: url(img/Hamburguesa.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.hero__article {
    height: fit-content;
    text-align: center;
}
.hero__article:first-child {
    padding: 2em 1em;
    background-color: #daa520;
    margin-left: 4em;
    margin-top: 4em;
}
.descuento > p:first-child {
    font-size: 2em;
}
.hero__article:nth-child(2) {
    align-self: center;
}
.hero__article:last-child {
    align-self: flex-end;
    margin-right: 4em;
    margin-bottom: 4em;
}
.article__text {
    font-weight: normal;
}