:root {
    font-size: 10px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    width: 80em;
    height: 60em;
    margin: 2em auto;
    padding: 2em;
    background-color: #88cef0;
}
header {
    background-color: orange;
    width: 100%;
    height: 10%;
}
main {
    height: 90%;
    display: flex;
}
article {
    background-color: #20b2aa;
    display: block;
    margin: 2em 0.5em 1em 0.5em;
    font-size: 1.6em;
}