* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    width: 800px;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #88cef0;
}
header {
    background-color: orange;
    width: 100%;
    height: 10%;
}
main {
    height: 90%;
    display: flex;
}
article {
    background-color: #20b2aa;
    display: block;
    margin: 20px 5px 10px 5px;
}