* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1200px;
    min-width: 576px;
    width: 50%;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #88cef0;
}
header {
    background-color: orange;
    width: 100%;
    height: 10%;
}
main {
    height: 90%;
}
article {
    background-color: #20b2aa;
    width: 48%;
    height: 90%;
    display: block;
    margin: 20px 0;
}
article:nth-child(1) {
    float: left;    
}
article:nth-child(2) {
    float: right;
}