* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.vacio {
    height: 200vh;
}
.header {
    background-image: url(img/rubik.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    text-shadow: 4px 4px 6px black;
    font-family: sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 5em;
    color: white;
}
.header__wave {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 0;
    filter: drop-shadow(0px -20px 10px rgba(0, 0, 0, 0.522));
}

@media screen and (max-width: 992px) {
    p {
        font-size: 3em;
        align-self: flex-start;
        margin: 2em;
    }
}
@media screen and (max-width: 576px) {
    p {
        font-size: 2em;
        align-self: flex-start;
        margin: 2em;
    }
}