* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.picture {
    width: 500px;
    margin: 20vh auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.403);
}

.picture__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.picture__container {
    transition: all 1s;
    position: absolute;
    bottom: 0;
    height: 100%;
    transform: translate(100%, 100%);
    /* transform-origin: bottom; */
    background-color: rgba(128, 0, 128, 0.396);
    color: white;
    padding: 10px;
}

.picture:hover .picture__container {
    transform: translate(0, 0) rotate(1turn);
}

.picture__title {
    text-align: center;
}

.picture__title::after {
    content: "";
    display: block;
    margin: 0.5rem auto;
    width: 100%;
    height: 3px;
    background-color: white;
}