html {
    box-sizing: border-box;
    /* 10px */
    /* font-size: 62.5%;  */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    padding-top: 3rem;
    width: 80%;
    margin: auto;
}

.navigation {
    background-color: black;
    margin: 3rem 0;
}
.navigation > .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: fit-content;
}

.navigation__link {
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.navigation__link:hover {
    background-color: #c9c84a;
    color: black;
}

.hero {
    width: 80%;
    margin: auto;
}

.hero__img {
    width: 100%;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: fit-content repeat(3, 1fr);
    align-items: center;
}

.main-content__title {
    text-align: center;
    height: fit-content;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.main-content__post {
    grid-column: 2 / 4;
    grid-row: 2/ 5;
}

.main-content__post p {
    text-align: justify;
    padding: 0 1rem;
}

blockquote {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    color: #525252;
}

.main-content__info {
    background-color: #c9c84a;
    color: white;
    font-size: 1.4rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.main-content__info p {
    margin: 0 0 .5rem 0;
    padding: 1rem;
    text-align: center;
}

.main-content__img1, .main-content__img2 {
    text-align: center;
}

.main-content__img1 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.main-content__img2 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.footer {
    background-color: #c9c84a;
    padding-top: 3rem;
    text-align: center;
}

.footer > .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: fit-content;
}

.footer__link {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: .5rem;
}

.footer__copyright {
    color: white;
    background-color: #282828;
    margin: 3rem 0 0 0;
    padding: 1rem;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        display: initial;
    }
}