*{
    color: darkred;
}
h1{
    color: darkblue;
}
h2, h3{
    color: darkslateblue;
}
h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div > a{
    text-decoration: none;
}
main p{
    line-height: 1.5;
    font-size: 30px;
}
section p{
    font-size: 20px;
}
section > p{
    font-size: 24px;
}
header h1{
    text-align: center;
}
main h2{
    text-align: center;
}
main + section {
    border: 2px dotted black;
}
main ~ * {
    background-color: lightgray;
}
h2 + article{
    background-color: bisque;
}
img[alt]{
    width: 200px;
}
img[alt^="mon"]{
    border-radius: 50%;
}
img[src*="2"]{
    width: 300px;
}
img[alt$="o"]{
    border: 5px solid darkorange;
}
img[alt*="mon"]{
    outline: 10px blue solid;
}
a[href="contacto.html"]{
    text-decoration: line-through;
}