@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Elms Sans';
    font-weight: normal;
}
body {
    background-image: linear-gradient(to right, rgb(205, 133, 133), rgb(219, 67, 67));
}
.title {
    text-align: center;
    margin: 1.4em auto;
}
.gallery {
    max-width: 1200px;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: start;
    margin: auto;
    padding: 0 20px;
}
.gallery__figure {
    flex: 1 1 350px;
}
.figure__img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 350px;
    display: block;
}