@font-face {
    font-family: 'Poppins Normal';
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins Thin';
    src: url(Poppins-Thin.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins Normal';
}
a {
    text-decoration: none;
    color: white;
}
body {
    /* gris muy tenue de fondo que casi no se percibe en la imagen de ejemplo */
    background-color: #f2f2f2;
}
.main {
    height: 100vh;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.header {
    background-color: #133d63;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}
.header__title {
    color: white;
    font-family: 'Poppins Bold';
}
.nav__anchor {
    padding: 0 7px;
}
.article {
    display: flex;
    flex-direction: column;
}
.article__button {
    background-color: #f9a825;
    width: fit-content;
    padding: 15px 26px;
    border-radius: 6px;
    margin-top: 1.6em;
}
.carrito__img {
    max-width: 100%;
    display: block;
}
.article__title {
    font-family: 'Poppins Bold';
    font-size: 3em;
}
.article__text {
    font-size: 1.3em;
}
@media screen and (max-width: 768px) {
    .header {
        height: 100px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .main {
        height: fit-content;
        padding: 30px;
        flex-direction: column;
        gap: 1em;
    }
    .carrito {
        margin-top: 100px;
    }
}