* {
    font-family: sans-serif;
}
main {
    background-color: firebrick;
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    /* vh = viewport height
    viewport - relativo a la pantalla
    */
}