/* PT Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2, h3, h4 {
    font-family: "PT Sans";
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}
:root {
    --rojo: #fb466b;
    --azul: #3f5efb;
    --grisClaro: #fafafa;
    --degradadoHeader: linear-gradient(to right, var(--rojo), var(--azul));
}
* {
    font-family: "Open Sans";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Todos los enlaces están en blanco */
a {
    color: white;
    text-decoration: none;
}
/* Header */
.header {
    background-image: var(--degradadoHeader);
}
.fas {
    color: white;
    margin: auto;
}
.hero__title {
    color: white;
    font-weight: normal;
    padding: 0 30px;
}
.hero__title-h3{
    font-size: 1.6em;
    padding-bottom: 2em;
}
.header__nav {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 1em;
}
.nav__btt {
    text-align: center;
}
.hero__figure {
    width: 80%;
    margin: 3em auto;
}
.figure__img {
    display: block;
    max-width: 100%;
}
/* Parte de quienes somos */
.section__tittle {
    color: var(--rojo);
    text-align: center;
    padding: 1rem 0;
}
.section {
    padding: 60px 40px;
}
.section__text {
    padding: 1rem 0;
}
.section__btt {
    background-color: var(--rojo);
    border-radius: 50px;
    padding: 20px 35px;
    margin: 1rem auto 6rem auto;
    display: block;
    width: fit-content;
}
.section__figure > img {
    margin: auto;
}

/* Planes de formación */

.main {
    background-color: var(--grisClaro);
}
.main__tittle {
    color: var(--rojo);
    text-align: center;
    padding: 60px 0;
}
.main__card {
    width: 70%;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.299);
    border-radius: 10px;
    /* hidden para que las esquinas de las imagenes de oculten */
    overflow: hidden;
}
.card__figure {
    max-height: 270px;
    overflow: hidden;
}
.card__btt {
    background-color: var(--azul);
    padding: 15px 50px;
    border-radius: 40px;
    display: block;
    text-align: center;
}
.card__tittle {
    color: var(--azul);
    text-align: center;
}
.card__text {
    margin: 2rem 0;
}
.card__text-container {
    padding: 20px 20px 40px 20px;
}
/* intermedio - hacemos tu sueño realidad */
.article {
    background-color: var(--rojo);
    padding: 100px 0;
}
.article__tittle {
    color: white;
    text-align: center;
    font-size: 2rem;
}
/* nuestro trabajo */
.section-trabajo {
    padding: 20px 0;
}
.section-trabajo > .section__tittle {
    text-align: center;
    padding: 120px 0;
}
.section__gallery {
    max-width: 1450px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 20px;
    gap: 20px;
}
.gallery__figure {
    flex: 1 1 350px;
    border-radius: 10px;
    overflow: hidden;
}
.figure__img-gallery {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 350px;
}
/* Iconos frontend */
.article-expertos {
    background-color: var(--grisClaro);
}
.article__tittle-expertos {
    text-align: center;
    color: var(--rojo);
    padding: 50px 0;
}
.article__iconos-frontend {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.iconos__figure {
    width: 120px;
    overflow: hidden;
    margin: 60px 0;
}
.figure__img-frontend {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
/* formulario de contacto */
.contacto {
    padding: 20px 10px;
}
.contacto__tittle {
    color: var(--rojo);
    text-align: center;
    padding: 30px 0;
}
.contacto__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}
.form__input-container {
    display: flex;
    justify-content: space-between;
}
.form__input {
    width: 80%;
    border: 1px solid var(--azul);
}
.form__textarea {
    border: 1px solid var(--azul);
    min-width: 80%;
    max-width: 80%;
    min-height: 150px;
    max-height: 300px;
}
.form__submit {
    background-color: var(--azul);
    text-align: center;
    padding: 15px 0;
}
/* Footer */
.footer {
    background-color: var(--rojo);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.footer__tittle {
    color: white;
    font-weight: 500;
}
.footer__text {
    color: white;
}
.footer__figure {
    width: 60%;
}
.fab {
    color: white;
    scale: 2;
}
.nav__i-container {
    padding: 20px;
    border: 1px solid white;
    border-radius: 100%;
}
.footer__nav-redes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer__nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-decoration: underline white;
}
.footer__container-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;        
}
@media screen and (min-width: 768px) {
    /* Header */
    .header {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__nav {
        position: absolute;
        top: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header__hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero__figure {
        flex-basis: 400px;
        min-width: 400px;
        padding: 1em;
    }
    /* Parte de quienes somos */
    .section__tittle {
        text-align: left;
    }
    .section__container-text {
        flex-basis: 50%;
    }
    .section {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .section__btt {
        margin: 1rem 0;
    }
    .section__figure {
        flex-basis: 400px;
    }
    /* Planes de formacion */
    .main__card-container {
        display: flex;
        max-width: 1600px;
        gap: 40px;
        margin: auto;
    }
    /* intermedio */
    .article__tittle {
        font-size: 4rem;
    }
    /* iconos frontend */
    .article__iconos-frontend {
        gap: 0;
    }
    .iconos__container {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
    /* formulario */
    .form__submit {
        width: fit-content;
        padding: 15px 25px;
        align-self: flex-end;
    }
    /* footer */
    .footer {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .footer__container-nav {
        max-width: 500px;
    }
    .footer__figure {
        width: 500px;
    }
}