* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --backgroundBtt: purple;
    --backgroundBttHover: rgba(233, 130, 233, 0.5);
}

html {
    font-size: 26px;
}

.nav {
    width: fit-content;
    margin: 50px auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.boton {
    border-radius: 50px;
    padding: 10px 25px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.boton1 {
    background-color: var(--backgroundBtt);
    color: white;
}
.boton2 {
    background-color: white;
    color: var(--backgroundBtt);
    border: 3px solid var(--backgroundBtt);
}

.boton1::before {
    content: "";
    clip-path: circle(0% to center);
    background-color: var(--backgroundBttHover);
    transform-origin: center;
    display: block;
    transform: scale(0);
    transition: 1s;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}
.boton1:hover::before {
    clip-path: circle(100% to center);
}

.boton2::before {
    content: "";
    clip-path: circle(50% to 50% 50%);
    background-color: var(--backgroundBttHover);
    transform-origin: center;
    display: block;
    transform: scale(0);
    transition: 1s;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    transform-origin: center;
    clip-path: circle(0 at top left);
}


.boton2:hover {
    color: white;
}
.span2:hover::before {
    content: "";
    clip-path: circle(100% at top left);
    background-color: var(--backgroundBtt);
    transform-origin: left;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    transform-origin: center;
    transition: 1s;
}

/* tercer boton */
.boton3 {
    text-decoration: none;
    color: var(--backgroundBtt);
}

.boton3 > span::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: relative;
    top: 4px;
    background-color: var(--backgroundBtt);
    border-radius: 10px;
    transform: scaleX(0);
    transition: 0.5s;
}

.boton3 > span:hover::after {
    transform: scale(1);
}