* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 15px 40px;
    margin: 20px auto;
    display: block;
    width: fit-content;
}
.boton1 {
    background-color: firebrick;
    box-shadow: 3px 3px 10px black;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.778);
}
.boton2 {
    background-image: linear-gradient(to right, orange, rgb(255, 216, 145));
}
.boton2:hover {
    background-image: linear-gradient(to right, orange);
    box-shadow: 0px 20px 40px rgba(255, 166, 0, 0.478);
}