* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    border:  2px dashed black;
    max-width: 1000px;
    height: 650px;
    margin: 50px;
    width: 90%;
    flex-direction: column;
    /* Contenedor flex */
    /* display: flex; */

    /* Hace que el contenedor flex se comporte como un elemento inline */
    display: inline-flex;

    /*
    Propiedad por defecto nowrap
    Hace que cuando un elemento hijo del contenedor
    flex no tenga espacio, lo mande hacia abajo,
    divide el contenedor segun las lineas flex
    que necesite. Si tenemos 600px  de
    altura lo dividira a 300px y tendremos 
    dos lineas flex en cada una.
    
    flex-wrap: wrap;
    */

    /* 
    flex-flow, version compacta de flex-wrap y flex-direction
    */

    /* Alineación en el eje principal (por defecto el vertical) */
    /* justify-content: space-evenly; */
    /* Alineación en el eje secundario */
    /* align-items: baseline; */
    /* el valor baseline alinea según el tamaño de texto
    es decir, si tenemos varias letras de distinto
    tamaño, se alinearan para que forme una linea el texto,
    independientemente de como sea el contenedor del texto */

    /* align-content, para esto hemos de tener activado wrap */
    /* Alineación de las lineas flex, si tengo wrap */
    /* align-content: center;
    flex-wrap: wrap; */

    gap: 30px
    ;
}
.item {
    border: 2px solid black;
    text-align: center;
    /* line-height: 130px; */
    font-size: 2rem;
    padding: 10px;
    height: 120px;
    width: 150px;
    
    /* Se ensanchan hasta que cubren el hueco sobrante, esta desactivada por defecto*/
    flex-grow: 0;
    /* Capacidad de que se encojan, esta activado por defecto */
    flex-shrink: 0;

    /* 
    flex-basis: tamaño base de los elementos flex ; 
    por defecto tiene 100px, pero si el contenido sobrepasa eso,
    cogera el width. Si no tenemos width puesto, cogera el max-content

    Es el tamaño base en el eje principal, es decir, si cambiamos a
    columna, pasará a ser altura.
    */
    flex-basis: 100px;
}
.item1 {
    background-color: lightblue;
    /* align-self: center; */
}
.item2 {
    background-color: lightpink;
    /* flex-grow: 2; */
    order: -1;
}
.item3 {
    background-color: lightgreen;
    /* Se alinea el solo según le digamos, si queremos
    especificamente alinearlo con otro valor */
    /* align-self: center; */
    /* margin: auto; */
    order: -1;
}
.item4 {
    /* flex-grow: 1; */
    background-color: lightgoldenrodyellow;
    /* align-self: flex-end; */
}

/* 
    JERARQUÍA DE TAMAÑOS EN CSS
    
    max-width > flex-basis > width/height > max-content
    
    max-content (la frase entera, min-content la palabra más larga)
*/

/* 
flex >>> la forma compacta de grow shrink y basis

flex: 1 0 200px; >>>> flex-grow: 1; flex-shrink: 0; flex-shrink 200px;

si omito algunos valores...

flex: 200px; >>> flex: 1 1 200px;
flex: 1; >>> flex: 1 1 0;

flex: auto; le aplica lo mismo a todos

*/