* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: lightgreen;
}
.container {
    outline: 2px dashed black;
    margin: 50px auto;
    height: 600px;
    width: 90%;
    max-width: 800px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    /* altura de las filas que se crean automáticamente */
    /* grid-auto-rows: 150px;
    grid-auto-columns: 200px; */

    /* Por defecto, si no digo como están colocados los elementos en el grid,
    se colocarán en forma de fila, pero podemos modicarlo con grid-auto-flow: */
    /* grid-auto-flow: column; */
    /* Ahora los elementos se colocarán automáticamente en forma de columna */
    
    /* Si le damos posición a algunos elementos, pero a otros no (como hago ahora con item1 poniendolo
    en grid-column: 1 / 3), pueden quedar huecos vacios, independientemente de si el flow esta puesto
    es column o row, pero 'dende' intenta rellenar todo de manera que no queden huecos vacios entre los
    elementos. */
    grid-auto-flow: dense;
}
.item {
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 700;
    /* width: 100px;
    height: 100px; */
    padding: 10px;
    line-height: 80px;
    text-align: center;
}
.item1 {
    background-color: rgb(90, 144, 36);
    grid-column: 1 / 3;
}
.item2 {
    background-color: rgb(226, 54, 54);
}
.item3 {
    background-color: rgb(35, 82, 168);
}
.item4 {
    background-color: rgb(255, 0, 136);
}