* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.figure__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.figure {
    width: 300px;
    margin: auto;
    animation-name: figure;
    animation-duration: 2s;
}

@keyframes figure {
    from {
        clip-path: polygon(5% 1%, 0% 100%, 100% 48%);
    }
    to {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
}