* {
    padding: 0;
    margin: 0;
    box-sizing: bordex-box;
    font-family: sans-serif;
}

.container {
    width: 90%;
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
}

.imagen-circulo {
    width: 250px;
}

img[alt=circulo] {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}