* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.anchor__figure {
    width: 300px;
    margin: 20vh auto;
}

.figure__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#div {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* position fixed, si no, no funciona */
    position: fixed;
    transform: translateX(100%);
    background-color: rgba(0, 0, 0, 60%);
    transition: transform 0.5s linear;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#div:target {
    transform: translateX(0);
    box-shadow: 6px 6px 50px 70px rgba(0, 0, 0, 60%);
}

.div__figure {
    max-width: 1500px;
    height: 80vh;
    position: relative;
}

.figure__img-b {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.cerrar {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
}
