* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main {
    height: 70vh;
    width: 90%;
    max-width: 1700px;
    min-width: fit-content;
    margin: 10vh auto;
    background-color: crimson;
    overflow: hidden;
}

.main__figure {
    width: fit-content;
    transition: transform 2s;
    transform: translateY(-100px);
}

.figure__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.main:hover .main__figure {
    transform: translateY(0px);
}