* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}
.sticky-menu {
    position: sticky;
    top: 0;
    background-color: #2f4f4f;
    padding: 1.1em;
    z-index: 100;
}
.menu-element a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
}
.menu-element {
    display: inline;
    padding: 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    background-color: #2f4f4f;
    padding: 1.1em;
    width: 100%;
    z-index: 100;
}
.banner {
    margin: 1em auto;
    width: 80%;
    background-color: lightblue;
    height: 25vh;
    position: relative;
}
.logo {
    width: 150px;
    height: 150px;
}
/* .logo1 {
    background-color: #556b2f;
    position: relative;
    top: 10%;
    left: 5%;
    z-index: 1;
}
.logo2 {
    background-color: orange;
    position: relative;
    bottom: 63%;
    left: 10%;
    z-index: 0;
} */
.logo1 {
    background-color: #556b2f;
    position: absolute;
    top: 50px;
    left: 5%;
    z-index: 1;
}
.logo2 {
    background-color: orange;
    position: absolute;
    top: 25px;
    left: 10%;
    z-index: 0;
}
.content {
    margin: 1em auto;
    width: 80%;
    background-color: #e9967a;
    height: 70vh;
    /* border-top: #e9967a solid 0.1px; */
    position: relative;
}
/* .centered {
    background-color: #90ee90;
    padding: 3em;
    width: 40%;
    margin: 20% auto;
    text-align: center;
} */
.centered {
    background-color: #90ee90;
    padding: 3em;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
}
h1 {
    font-size: 3em;
}