* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: greenyellow;
    padding: 20px;
}
main ul:nth-child(5) {
    list-style-image: url(contact-book.png);
}
main ul:nth-child(7) {
    list-style-type: none;
    padding: 0px;
}
main ul:nth-child(7) li {
    border: 1px solid black;
    width: 10em;
    background-color: grey;
}
main ul:nth-child(9) {
    list-style-type: none;
    padding: 0px;
}
main ul:nth-child(9) li {
    display: inline;
    border: 1px solid black;
    background-color: grey;
    color: white;
}
main ul:nth-child(9) li a {
    color: white;
    text-decoration: none;
    padding: 2px;
}
footer {
    background-color: green;
    text-align: center;
    color: white;
    padding: 3px 0px;
}