* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 20px;
}

.section {
    width: 1000px;
    margin: 50px auto;
}

.section__figure {
    width: 300px;
    height: 300px;
}

.figure__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

.fig1 > img {
    clip-path: circle(50% at 50% 50%);
}

.fig2 > img {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.fig1 {
    shape-outside: (50% at 50% 50%);
}
.fig2 {
    shape-outside: (50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.section__article {
    display: flex;
    margin: 25px 0;
}
.section__article:last-child {
    flex-direction: row-reverse;
}
